<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Jacopo Calvi - Computer Science student & web developer">
  <link rel="icon" href="/icons/favicon.ico" type="image/x-icon">

  <script src="/js/mobile-menu.js"></script>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

  <title>{{ title }} | Jacopo Calvi</title>
</head>
<body>
  {% include "header.html" %}

  {{ content }}

</body>
</html>
