<header class="highlight">
  <a href="/">
    <h1 id="banner" class="link desktop-only">Jacopo Calvi</h1>
    <h1 id="banner" class="link mobile-only">JC</h1>
  </a>
  <nav>
    <a href="/" class="link {% if '/' == page.url %}active{% endif %}">about</a>
    <a href="/projects/" class="link {% if page.url == '/projects/' %} active{% endif %}">projects</a>
    <a href="https://drive.google.com/file/d/1R2qAeukGjLD6dm86wgNkBkpaODI0PAaN/view?usp=drive_link"
       rel="noreferrer"
       target="_blank">
      resume

      <i class="fa-solid fa-arrow-up-right-from-square"
         style="font-size: 0.8em; margin-left: 1px;"></i>
    </a>

    <!-- Desktop socials -->
    <ul id="social-links" class="desktop-only">
      <li>
        <a href="https://github.com/cactuuus"
           target="_blank"
           rel="noreferrer"
           class="link">
          <i class="fa-brands fa-square-github icon link"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/jacopo-poe-calvi/"
           target="_blank"
           rel="noreferrer"
           class="link">
          <i class="fa-brands fa-linkedin icon link"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/jacopo.bob.calvi/"
           target="_blank"
           rel="noreferrer"
           class="link">
          <i class="fa-brands fa-square-instagram icon link"></i>
        </a>
      </li>
    </ul>

    <!-- Mobile dropdown -->
    <div class="dropdown-menu mobile-only" data-open="false">
      <button class="dropdown-btn link" onclick="toggleDropdown(this)">
        <i class="fa-solid fa-plus icon"></i>
      </button>
      <div class="dropdown-content highlight text-box">
        <h3 class="section-title">socials</h3>
        <hr>
        <ul>
          <li>
            <a href="https://github.com/cactuuus"
               target="_blank"
               rel="noreferrer"
               class="link">
              <i class="fa-brands fa-square-github icon link"></i>
              GitHub
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/jacopo-poe-calvi/"
               target="_blank"
               rel="noreferrer"
               class="link">
              <i class="fa-brands fa-linkedin icon link"></i>
              LinkedIn
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/jacopo.bob.calvi/"
               target="_blank"
               rel="noreferrer"
               class="link">
              <i class="fa-brands fa-square-instagram icon link"></i>
              Instagram
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
